body{
    margin: 0;
    background-color: hsl(225, 100%, 94%);
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    font-size: .8rem;
    font-family: 'Red Hat Display', sans-serif;
}

.card{
    width: 17.5rem;
    margin: auto;
    border-radius: .625rem;
    background-color: white;
}

.img{
    width: 100%;
    border-radius: .625rem .625rem 0 0 ;
}

.bottom-section{
    padding: 1.25rem;
}
.bottom-section > p{
    line-height: 1.5;
}

.bottom-section > h1{
margin:.3125rem 0 .3125rem 0;

}

.bottom-section-row{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    background-color: hsl(225, 100%, 98%);
    border-radius: .625rem;
    padding: .625rem .3rem;
}
.bottom-section-row > img{
    width: 2rem;
    margin-right: .625rem;
}

.bottom-section-row-mid-col > h2, p{
margin: 0;
}

a{
    margin-left: auto;
    color: hsl(245, 75%, 52%);
}

a:hover{
    color: hsl(224, 23%, 55%);
}
.btn-proceed{
    display: block;
     margin: auto auto .9375rem auto;
    padding: .65rem 3.2rem;
    border: none;
    border-radius: .3125rem;
    background-color: hsl(245, 75%, 52%);
    color: white;
}
.btn-proceed:hover{
    background-color: hsl(224, 23%, 55%);
    cursor: pointer;
}

.btn-cancel{
    display: block;
    margin: auto;
   padding: .65rem 3.2rem;
   border: none;
   border-radius: .3125rem;
   background-color: white;
   color: hsl(224, 23%, 55%);
}
.btn-cancel:hover{
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

.footer{
    background-color: hsl(224, 23%, 55%);
    padding: .625rem 0;
}

@media screen and (max-width: 500px) {
    body{
        background-image: url(../images/pattern-background-mobile.svg);
    }
}